# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\课后学习\2022.08.06-药品库存管理系统\3. 源代码\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
